.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 1.8fr 2fr;
    gap: 0px 0px;
    height: 100%;
    padding: 1rem;
    grid-template-areas:
      "poster year_rating"
      "poster download_netflix"
      "poster description"
      "poster yt_trailer";
  }
  
  .poster {
    margin-right:1rem;
    grid-area: poster;
    align-items: center;
    justify-items: center;
    display: inline-block;
}
  .poster_img {
    /* height: auto; */
    height: 100%;
    width:100%
  }
  
  
  .year_rating { grid-area: year_rating; }
  
  .download_netflix { grid-area: download_netflix; }
  
  .description { 
    overflow-y: scroll;
    overflow-x: hidden;  
    grid-area: description; }
  
  .yt_trailer {  
    grid-area: yt_trailer; }
  