.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.2fr 0.2fr 0.2fr 1.8fr 2fr;
  gap: 0px 0px;
  height: 100%;
  padding: 1rem;
  grid-template-areas:
    "poster year"
    "poster rating"
    "poster genres"
    "poster download_netflix"
    "poster description"
    "poster yt_trailer";
}

.poster {
  margin-right: 1rem;
  grid-area: poster;
  align-items: center;
  justify-items: center;
  display: inline-block;
}
.poster_img {
  /* height: auto; */
  height: 100%;
  width: 100%;
}
.year {
  grid-area: year;
  display: flex;
}

.rating {
  grid-area: rating;
  display: flex;
}

.download_netflix {
  grid-area: download_netflix;
  border-color: #f44336;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px ;
}

.genres {
  display: flex;
  grid-area: genres;
}
.description {
  margin-top: 1rem;
  padding-right: 1rem;
  overflow-y: scroll;
  max-height: 15rem;
  overflow-x: hidden;
  grid-area: description;
}


.yt_trailer {
  grid-area: yt_trailer;
}
